<ion-content>
    <ion-grid>
       <ion-row>
          <ion-col text-center>
             <h1 class="hide-on-keyboard-open">CHOOSE YOUR SKILL LEVEL</h1>
          </ion-col>
       </ion-row>
       <ion-row *ngIf="basketballSelected" class="basketball">
          <p> Basketball </p>
          <ion-item>
             <ion-range min="0" max="100" [(ngModel)]="sportsSkill.basketballSkill" color="secondary">
             <ion-label range-left>Beginner</ion-label>
             <ion-label range-right>Pro</ion-label>
             </ion-range>
          </ion-item>
       </ion-row>
       <ion-row *ngIf="cricketSelected" class="cricket">
          <p> Cricket </p>
          <ion-item>
             <ion-range min="0" max="100" [(ngModel)]="sportsSkill.cricketSkill" color="secondary">
             <ion-label range-left>Beginner</ion-label>
             <ion-label range-right>Pro</ion-label>
             </ion-range>
          </ion-item>
       </ion-row>
       <ion-row *ngIf="footballSelected" class="football">
          <p> Football </p>
          <ion-item>
             <ion-range min="0" max="100" [(ngModel)]="sportsSkill.footballSkill" color="secondary">
             <ion-label range-left>Beginner</ion-label>
             <ion-label range-right>Pro</ion-label>
             </ion-range>
          </ion-item>
       </ion-row>
       <ion-row *ngIf="badmintonSelected" class="badminton">
          <p> Badminton </p>
          <ion-item>
             <ion-range min="0" max="100" [(ngModel)]="sportsSkill.badmintonSkill" color="secondary">
             <ion-label range-left>Beginner</ion-label>
             <ion-label range-right>Pro</ion-label>
             </ion-range>
          </ion-item>
       </ion-row>
       <ion-row *ngIf="tennisSelected" class="tennis">
          <p> Tennis </p>
          <ion-item>
             <ion-range min="0" max="100" [(ngModel)]="sportsSkill.tennisSkill" color="secondary">
             <ion-label range-left>Beginner</ion-label>
             <ion-label range-right>Pro</ion-label>
             </ion-range>
          </ion-item>
       </ion-row>
       <ion-row>
          <ion-col>
             <button class="forgotPassword" ion-button clear block (click)="addSportsSkills()">NEXT</button>
          </ion-col>
       </ion-row>
    </ion-grid>
 </ion-content>